/* body {
    background-color: aqua; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.secetion-heading {
    max-width: 827px;
    text-align: center;
}
.secetion-heading h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.secetion-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* header section */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;   
}
.logo h2 {
    font-size: 45px;
    /* color: #333333; */
    font-weight: 800;
}
.color-orange {
    color: #FF7A00;
}
nav{
    width: 1140px;
    max-width: 1350px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
}
nav .menu a {
    text-decoration: none;
    font-size: 18px;
    color: #474747;
    align-items: center;
    /* font-weight: 600; */
}
.btn {
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF7A00;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Hero/banner section */
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content {
    max-width: 585px;
    /* border: 1px solid blue; */
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 65px;
     font-weight: 800;
    color: #474747;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
     font-weight: 400;
    color: #757575;
    /* line-height: 30px; */
    margin-bottom: 30px;
}
#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}
/* section about */
#about {
    padding-top: 130px;
    text-align: center;

}
#about .about-container {
    width: 1140px;
    max-width: 1350px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 131px 156px;
    align-items: center;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    /* margin-bottom: 30px; */
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4 {
    font-size: 20px;
}