/* body {
    background-color: aqua; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
/* header section */
header {
    background-color: #FFF8F3;
    padding: 50px 0;   
}
.logo h2 {
    font-size: 45px;
    /* color: #333333; */
    font-weight: 800;
}
.color-orange {
    color: #FF7A00;
}
nav{
    width: 1140px;
    max-width: 1350px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
}
nav .menu a {
    text-decoration: none;
    font-size: 18px;
    color: #474747;
    align-items: center;
    /* font-weight: 600; */
}
.btn {
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF7A00;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}